
dataset/CompleteDataSet/x_test_all.csv
dataset/CompleteDataSet/x_train_all.csv
dataset/CompleteDataSet/y_test_all.csv
dataset/CompleteDataSet/y_train_all.csv
Group Work/Part 5/generated_images/augmented_9__0_4736.png
Group Work/Part 5/generated_images/augmented_9__0_3501.png
Group Work/Part 5/generated_images/augmented_8__0_7418.png
Group Work/Part 5/generated_images/augmented_8__0_1221.png
Group Work/Part 5/generated_images/augmented_7__0_6009.png
Group Work/Part 5/generated_images/augmented_7__0_279.png
Group Work/Part 5/generated_images/augmented_6__0_9283.png
Group Work/Part 5/generated_images/augmented_6__0_4703.png
Group Work/Part 5/generated_images/augmented_5__0_9533.png
Group Work/Part 5/generated_images/augmented_5__0_2288.png
Group Work/Part 5/generated_images/augmented_4__0_5926.png
Group Work/Part 5/generated_images/augmented_4__0_444.png
Group Work/Part 5/generated_images/augmented_3__0_7794.png
Group Work/Part 5/generated_images/augmented_3__0_5669.png
Group Work/Part 5/generated_images/augmented_2__0_6022.png
Group Work/Part 5/generated_images/augmented_2__0_4238.png
Group Work/Part 5/generated_images/augmented_1__0_5313.png
Group Work/Part 5/generated_images/augmented_1__0_3719.png
Group Work/Part 5/generated_images/augmented_0__0_4055.png
Group Work/Part 5/generated_images/augmented_0__0_3898.png
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/oracle.json
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_0/checkpoint
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_0/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_0/checkpoint.index
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_0/trial.json
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_1/checkpoint
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_1/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_1/checkpoint.index
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_1/trial.json
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_2/checkpoint
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_2/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_2/checkpoint.index
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/trial_2/trial.json
Group Work/Part 4/keras_tuner_cnn_dir/cnn_hyperparameter_tuning/tuner0.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/oracle.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_0/checkpoint
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_0/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_0/checkpoint.index
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_0/trial.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_1/checkpoint
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_1/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_1/checkpoint.index
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_1/trial.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_2/checkpoint
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_2/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_2/checkpoint.index
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_2/trial.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_3/checkpoint
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_3/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_3/checkpoint.index
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_3/trial.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_4/checkpoint
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_4/checkpoint.data-00000-of-00001
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_4/checkpoint.index
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/trial_4/trial.json
Group Work/Part 4/keras_tuner_mlp_dir/mlp_hyperparameter_tuning/tuner0.json
